@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fbfaf6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
    width: 50%; 
    margin: 0 auto; 
    align-items: center;
    padding: 20px; 
}

h2 {
  font-size: 24px; 
}

p {
  font-size: 16px;
}

a {
  color: #f5451f;
  text-decoration: none;
}
